@inherits LayoutComponentBase
@namespace Lomboque.Presentation.Server.Pages.Layout
@using Lomboque.Application.Actions

@inject AppController Controller

<PageTitle>Server</PageTitle>

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="p-5">
            <p>@connectionStatus</p>
        </div>
    </main>
    <footer>
    </footer>
</div>

@code{


    string uri = Config.URI;
    string? json;

    string connectionStatus = $"Connection Status: CONNECTING ...";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(15));
            while (await periodicTimer.WaitForNextTickAsync())
            {
                try
                {
                    json = await HttpRequest(uri);
                    connectionStatus = $"Reading from {uri}";
                    System.Console.WriteLine(json);
                    this.StateHasChanged();
                }
                catch (HttpRequestException)
                {
                    string exceptionMessage = $"Unable to connect to {uri}";
                    connectionStatus = exceptionMessage;
                    System.Console.WriteLine(exceptionMessage);
                    this.StateHasChanged();
                }

                if(!string.IsNullOrEmpty(json))
                {
                    await Controller.InsertObservasiAsync(json);
                }
            }
        }
    }    
}