@inherits LayoutComponentBase
@namespace Lomboque.Presentation.Server.Pages.Layout
@using Lomboque.Application.Actions

@inject AppController Controller

<PageTitle>Server</PageTitle>

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    string uri = "http://192.168.2.101/get";
    string? json;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(15));
            while (await periodicTimer.WaitForNextTickAsync())
            {
                json = await HttpRequest(uri);
                System.Console.WriteLine(json);

                if(!string.IsNullOrEmpty(json))
                {
                    await Controller.InsertObservasiAsync(json);
                }
            }
        }
    }    
}